.movie__header {
  min-height: 10vh;
  background-color: hsl(0 0% 0%/ 0.8);
  backdrop-filter: blur(5px);

  position: sticky;
  top: 0;
  z-index: 1;
}

.movie__logo {
  font-family: var(--ff-courgette);
  font-size: calc(1.5rem + 0.4vw);
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.movie__logo:hover {
  transform: scale(1.1);
}

.movie__nav {
  font-weight: bold;
  cursor: pointer;
}

.movie__nav > li {
  list-style: none;
  transition: color 100ms ease-in;
}

.movie__nav > li:hover {
  color: hotpink;
}
