/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lato:ital,wght@0,400;0,900;1,400&display=swap');

/* CSS RESET */
:root {
  color: hsla(0, 0%, 100%, 0.87);
  font-size: 10px;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* CSS Variables */
  --ff-courgette: 'Courgette', cursive;
  --ff-lato: 'Lato', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  min-height: 100vh;
  background-image: linear-gradient(to right, #242424, hsl(30, 27%, 46%));
  font-family: var(--ff-lato);
}

main {
  min-height: 80vh;
}

img {
  max-width: 100%;
  display: block;
}

/* UTILITY CLASSES */
.container {
  width: 98%;
  max-width: 150rem;
  margin-inline: auto;
}

.flex {
  display: flex;
  gap: 1.5rem;
}

.grid {
  display: grid;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.outline {
  outline: 2px solid hotpink;
}

.slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: slide-in-fwd-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
